.sketch{
    height:74vh!important;
    margin-top:-1em!important;
    filter:contrast(1.1);
    margin:auto;
    background:white!important;
}

select, button{
    border: 1px solid black;
    border-radius:1em;
    padding:0 0.4em;
    margin:0;
    background:white;
    z-index:3000;
    text-align:center;
}

.sketchmenu{
    display:flex;
    margin-top:0.5em;
    font-size:1.1em;
    text-indent:0!important;
    justify-content: space-between;
    width:110px;
}

.description{
    text-indent:9em!important;
    display: inline-block;
    margin-top:-2em;
    font-size:1.1em!important;
    line-height:1.3em;
}