*{
    margin:0;
    padding:0;
    font-family:serif;
    box-sizing:border-box;
    font-family:serif;
    text-align:center;
}

body{
    background:white;
}

.site{
    border: 1px solid black;
    margin: 10px auto;
    max-width:700px;
    padding-bottom:20px;
}


.bird{
    height:40px;
    filter:grayscale(1);
}

#birdheader{
    position:absolute;
    left:0;
    margin-top:-3vh;
    background-image:url("birds.jpg");
    background-position:center;
    background-size:cover;
    width:100vw;
    height:80vh;
    z-index:0;
}

a{
    color:lime;
}

.site-title{
    font-family:sans-serif;
    color:lime;
    -webkit-text-stroke: black 1px;
    font-size:50px;
    text-align:center;
    z-index:10;
    margin-top:10vh;
}

.box{
    width:30rem;
    height:auto;
    background-color:lightblue;
}

.content{
    margin-top:77vh;
}


.questionnaire{
    padding-bottom:30px;
}

.questionnaire>*{
    text-align:left;
}

.guests{
    padding:1vw 0vw;
    display:flex;
    width:100%;
    justify-content: center;;
}

.guests>*>*{
    height:100px;
    height:100px;
    margin-right:-20px;
    animation: spin 50s linear infinite;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.brixton{
  filter: brightness(52%) hue-rotate(255deg) saturate(200%);
  filter:hsl(255, 159, 52)
}
.jisu{
    filter: brightness(52%) hue-rotate(172deg) saturate(159%);
}
.nari{
    filter: brightness(85%) hue-rotate(302deg) saturate(159%);
}

.name{
    padding:1vw 6vw;

}

.q{
    background-image: url("lime.png");
    padding:1vw 6vw;
}

.q>a{
    color:black;
}

.a{
    padding:1vw 6vw;
}
